<!DOCTYPE html>
<html>
<head>
    <title>欢迎页面</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  >
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link href="..\public\javascripts\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet">
          <script src="..\public\javascripts\jquery\dist\jquery.min.js"></script>
          <script src="..\public\javascripts\bootstrap\dist\js\bootstrap.min.js"></script>


    <link rel='stylesheet' href='..\public\stylesheets\style.css' />


</head>
<body>
<h1>欢迎光临</h1>

<form method="post">
        <div class="panel panel-primary" >
        用户<input name="name" required /><br></br>


        密码<input name="psw" required/><br></br>


        <button class="btn btn-primary" type="submit">登录</button>
        <button class="btn btn-waring" type="submit">注册</button>
        </div>
</form>
</body>
</html>
